@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.error-list {
  list-style-type: disc;
  font-size: 14px;
}

.error-list li {
  position: relative;
  padding-left: 3px;
}

.btn {
  border-radius: .325rem;
  font-family: Inter, Helvetica, sans-serif;
  font-weight: 500;
}

